#!/usr/bin/env bash
export DEBUG=1
export SECRET_KEY=""
export DJANGO_ALLOWED_HOSTS=* localhost 127.0.0.1 [::1]

# Openai
export OPENAI_API_KEY = ""

# Langchain
export LANGCHAIN_TRACING_V2=true
export LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
export LANGCHAIN_API_KEY=""
export LANGCHAIN_PROJECT="conversation_app"

# Azure / Microsoft
export azure_speech_api_key=""
export azure_speech_region=""
export azure_speech_endpoint=""