@import "tailwindcss";

@theme {
  --color-primary: #14182d;
  --color-secondary: #0c1020;
  --color-tertiary: #212644;
  --color-accent: #3d3c7d;
  --color-highlight: #3d3c7d;
}

/* Custom styles for the conversation app */
#root {
  min-height: 100vh;
  width: 100%;
}

.sidebar-icon {
  @apply relative flex items-center justify-center 
  h-12 w-12 mt-2 mb-2 mx-auto shadow-lg 
  bg-gray-100 text-gray-500 
  hover:bg-white hover:rounded-3xl
  transition-all duration-300;
}

.sidebar-tooltip {
  @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md 
  text-white bg-primary text-xs font-bold 
  transition-all duration-100 origin-left;
}
